<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<h2><%= title %></h2>
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/banner">Banner</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">Banner List</div>
</div>
<table class="ui selectable celled table">
    <thead>
    <tr>
        <th>ID</th>
        <th>标题</th>
        <th>排名权重</th>
        <th>URL</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < banners.length; i++) { %>
    <tr>
        <td><a href="/banner/show/<%= banners[i].id %>"><%= banners[i].id %></a></td>
        <td><%= banners[i].title %></td>
        <td><%= banners[i].seq %></td>
        <td><%= banners[i].url %></td>
    </tr>
    <% } %>
    </tbody>
</table>
<a class="ui primary button" href="/banner/add">添加</a>
</body>
</html>
