<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>12音乐盒录入系统</h1>
<h2><%= title %></h2>
<div class="ui breadcrumb">
    <a class="section" href="/">Home</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="/exsheet">ExSheet</a>
    <i class="right arrow icon divider"></i>
    <div class="active section">ExSheet List</div>
</div>
<table class="ui selectable celled table">
    <thead>
    <tr>
        <th>ID</th>
        <th>网易云歌单id</th>
        <th>扩展id</th>
        <th>排序权重</th>
        <th>歌单类型</th>
        <th>歌单名</th>
        <th>封面图</th>
        <th>歌单描述</th>
        <th>歌曲id集合</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < exsheets.length; i++) { %>
    <tr>
        <td><a href="/sheet/show/<%= exsheets[i].id %>"><%= exsheets[i].id %></a></td>
        <td><%= exsheets[i].wid %></td>
        <td><%= exsheets[i].eid %></td>
        <td><%= exsheets[i].seq %></td>
        <td><%= exsheets[i].type %></td>
        <td><%= exsheets[i].name %></td>
        <td><%= exsheets[i].cover %></td>
        <td><%= exsheets[i].description %></td>
        <td><%= exsheets[i].song_ids %></td>
    </tr>
    <% } %>
    </tbody>
</table>
<a class="ui primary button" href="/exsheet/add">添加</a>
</body>
</html>
