<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<table class="ui selectable celled table">
    <thead>
    <tr>
        <th>ID</th>
        <th>歌曲名</th>
        <th>歌曲封面</th>
        <th>收录专辑</th>
        <th>lyrics</th>
        <th>娜网播放链接</th>
        <th>七牛云链接</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < songs.length; i++) { %>
    <tr>
        <td><a href="/song/show/<%= songs[i].id %>"><%= songs[i].id %></a></td>
        <td><%= songs[i].name %></td>
        <td><%= songs[i].cover %></td>
        <td><%= songs[i].album %></td>
        <td><%= songs[i].lyrics %></td>
        <td><%= songs[i].url %></td>
        <td><%= songs[i].url2 %></td>
    </tr>
    <% } %>
    </tbody>
</table>
</body>
</html>
